/* .ds {
    width: 100%;
    height: 500px;
    background-color: red;
} */

.courses-container {
    background-color: #FCF5FE;
    width: 100%;
    padding: 100px;
}

.learning-path {
    display: flex;
    justify-content: center;
}

.btn-path {
    background-color: #F4D6F8;
    color: #B73BBE;
}

.learning-curriculum {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 30px;
}

.curriculum-name {
    font-size: 50px;
    font-family: poppins;
    font-weight: bold;
}


.data-science { 
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: bold;
    background: linear-gradient(to right, #B73BBE, #EBCB2E); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text; 
}


.courses-curriculum {
    color: #4C4D52;
}

.tech-box {
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 22px;
}

.courses-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.cpp {
    padding: 20px;
    color: #4C4D52;
}

.btn-view {
    font-size: 20px;
    padding:25px;
    border-radius: 50px;
    background-color: #F4D6F8;
    color: #B73BBE;
}

.cpp-desc {
    color : #83848D;
    font-size: 20px;
    font-family: poppins;
}

.styled-hr {
    border-color: #efefef;
    
  }


  @media (max-width: 768px) {
    .courses-container {
        background-color: #FCF5FE;
        width: 100%;
        padding: 10px;
        margin: 10px;
    }
    .learning-path {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    
    .btn-path {
        background-color: #F4D6F8;
        color: #B73BBE;
        width: 100%;
        font-size: 18px;
    }

    .tech-box {
        border: 1px solid #ccc;
        background-color: white;
        border-radius: 22px;
    }
    
    .courses-box {
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-direction: column;
    }
    
    .cpp {
        padding: 20px;
        color: #4C4D52;
    }

}