*{
    padding: 0;
    margin: 0;
}

.offernote {
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding: 20px;
    font-family: poppins;
    font-weight: bold;
    text-align: center;
}

.L1 {
    color: #686972;
}

.L2 {
    color: #B73BBE;
}

.L3 {
    color: #686972;
}

.L4 {
    color: #B73BBE;
}

.offer-box {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.refund {
    border: 1px solid black;
    color: white;
    text-align: center;
    width: 40%;
    background-color: blue;
    border-radius: 25px;
    padding: 30px;
    background: linear-gradient(to right, #9849FF, #841EE3); 
}

.offer-icon {
    font-size: 30px;
    font-family: poppins;
    color: white;
    padding: 10px;
    
}

.smile {
    color: yellow;
}

.offer-time {
    font-size: 20px;
    padding-top: 10px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 12px;
    border-radius: 5px;  
    background: #7724c5;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

  .data-science { 
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: bold;
    background: linear-gradient(to right, #B73BBE, #EBCB2E); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text; 
}
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    border: 3px solid white;
    background: #FFC41B;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #d2ff08;
    cursor: pointer;
  }

.working {
    width: 100%;
}

.working-how {
    display: flex;
    justify-content: center;
}

.working-how h1 {
    font-family: poppins;
    color: #450D45;
}
.step {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

.step-desc {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 100px;
}



.step-1 {
    text-align: center;
    font-family: poppins;
    color: #7F2781;
    border-radius: 15px;
    background-color: #FCF5FE;
    border: 1px solid #F9EBFC;
    padding: 8px;
    margin: 10px;
}

.step-1 div p {
    text-align: center;
    font-family: poppins;
    font-size: 15px;
    color: #3B3B3E;
    padding: 10px;
}

.courses-access {
    text-align: center;
    font-family: poppins;
    color: #000000;
    padding: 10px;
}

.ticket {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid #a8a2a2;
    
    border-radius: 15px;
    margin-top: 10px;
}

.tecket-text {
    color: #E27900;
    font-size: 40px;
    font-weight: bold;

}

.tecket-desc {
    color: #4C4D52;
    text-align: left;
    padding: 10px;
}

.top-company {
    display: flex;
    width: 100%;
    padding: 30px;
    margin-bottom: 150px;
    justify-content: center;
    align-items: center;
    background-color: #FFFCEA;
    flex-direction: column;
}

.top-name {
    font-size: 45px;
    font-family: poppins;
    font-weight: bold;

}

.top-cmp {
    color: #374957;
}

.data-scientist {
    background: linear-gradient(to right, #B73BBE, #EBCB2E); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
}

.top-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.logo-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 20% 30%;
    background-color: #fffdff;
    border-radius: 20px;
}

.certification {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    flex-direction: column;
}

.certificates-name {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    
}

.unlock {
    font-size: 45px;
    font-family: poppins;
    font-weight: bold;
}

.unlock-text, .and{
    color: #686972;
}

.certificate  {
    color: #992E9D;
}

.certificate-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: #F9EBFC;
    border-radius: 15px;
    margin: 10px;
}

.caption {
    font-size: 25px;
    font-family: poppins;
    font-weight: bold;
    color: #450D45;
}

.op-desc {
    color: #686972;
    font-size: 18px;
    font-weight: normal;


}

.verified {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-verified {
    color: #992E9D;
    background-color: #F4D6F8;
    border-radius: 25px;
}

.opportunities-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFF4C5;
    padding: 30px;
    border-radius: 15px;
    margin: 10px
}

.opportunities-box > .caption {
    color : #481900;
}


.bundal-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 60px;
    border-radius: 40px;
    background-image: linear-gradient(to right, #b0c3f7 , #b887c4);
}

.left-data {
    display: flex;
    flex-direction: column;
}

.left-data div p {
    color: #000000;
    font-size: 25px;
    font-weight: bold;
    font-family: poppins;
}

.left-data div small {
    color: #000000;
    font-size: 15px;
    font-family: poppins;
    
}

.btn-enroll {
    background-color: #000000;
    color: white;
}

.right-data, .left-data {
    margin: 20px 100px;

}

.right-data {
    font-size: 20px;
    line-height: 30px;
}

.bundal-box-2 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        margin: 60px;
        border-radius: 40px;
        background-image: linear-gradient(to right, #ab3bb1 , #b04ab4);
}

.work-flow {
    margin: 50px;
    margin-bottom: 200px;
    font-family: poppins;
    font-size: 19px;
    color: #150E42;
    background-color: antiquewhite;
    border-radius: 20px;

}

.method-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.method-1 div{
    margin: 40px;
}

.method-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.method-2 div {
    margin: 60px;
}

.apply-now {
    display: flex;
    justify-content: center;
    align-items: center;
}

.apply-now div button {
    background-color: #7E267E;
    color: #FCF5FE;
}

.highlights {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.key-hi {
    display: flex;
    justify-content: center;
    align-items: center;
}

.key-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.key-hi div {
    color:#7F2781;
    font-size: 25px;
    font-family: poppins;
    font-weight: bold;
}



.industry-standard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #7724c5;
    border-radius: 20px;
    padding: 10px;
    width: 100%;
    height: 200px;
    margin: 10px;
    box-shadow: 10px 10px 20px 2px rgba(148, 142, 142, 0.75);

}

.tag-courses {
    color:#7F2781;
    font-size: 15px;
    font-family: poppins;
    font-weight: bold;
    text-align: center;
}

.user-tie {
    font-size: 80px;
}


@media (max-width: 768px) {

    .offernote {
        display: flex;
        justify-content: start;
        font-size: 20px;
        padding: 20px;
        font-family: poppins;
        font-weight: bold;
        text-align: center;
    }

    
.offer-box {
    display: flex;
    justify-content: center;
}

.refund {
    color: white;
    text-align: center;
    width: 80%;
    background-color: blue;
    border-radius: 25px;
    padding: 30px;
    background: linear-gradient(to right, #9849FF, #841EE3); 
}

.step {
    display: none;
    
    
}

.step-desc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.img-step {
    width: 100%;
    transform: rotate(90deg);
    border: 1px solid red;
}

.step-1 {
    padding: 0px 20px;
}

.top-company {
    display: flex;
    width: 100%;
    padding: 30px;
    margin-bottom: 150px;
    justify-content: center;
    align-items: center;
    background-color: #FFFCEA;
    flex-direction: column;
}

.top-name {
    font-size: 45px;
    font-family: poppins;
    font-weight: bold;

}

.top-cmp {
    color: #374957;
}

.certificate {
    padding: 20px;
}

.certificates-name {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    
}

.bundal-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    border-radius: 40px;
    background-image: linear-gradient(to right, #b0c3f7 , #b887c4);
}

.bundal-box-2 {
    display: none;
}

.key-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 150px;
}

.work-flow {
    display: none;
}

}